<div class="row">
  <div class="col">
    <h1><%= @medication.name %></h1>
    <%= @medication.dosage %>
    <%=  @medication.reminder_time %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
        <%= button_to "New chat", medication_chats_path(@medication), class: "btn btn-primary" %>
  </div>
</div>
